{% extends 'base.html.twig' %}

{# This page should be converted into a news page or an events page, so change the namee #}
{# the url Route here is ("/", name="home") #}

{% block body %}
 <div class="test">
    <h1>L'Histoire Du VILLAGE</h1>

    <p>
        In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate t
        he visual form of a document or a typeface without relying on meaningful content. 
        Lorem ipsum may be used as a placeholder before final copy is available. It is also used to temporarily
        replace text in a process called greeking, which allows designers to consider the form of a webpage or publication, 
        without the meaning of the text influencing the design.
        <br /><br />

        Lorem ipsum is typically a corrupted version of 'De finibus bonorum et malorum', a 1st century BC text by
        the Roman statesman and philosopher Cicero, with words altered, added, and removed to make it nonsensical and improper Latin.

        <br /> <br />

        Versions of the Lorem ipsum text have been used in typesetting at least since the 1960s, when it was popularized 
        by advertisements for Letraset transfer sheets.[1] Lorem ipsum was introduced to the digital world in the mid-1980s, 
        when Aldus employed it in graphic and word-processing templates for its desktop publishing program PageMaker. Other 
        popular word processors, including Pages and Microsoft Word, have since adopted Lorem ipsum,[2] as have many LaTe.
    </p>
</div>
{% endblock %}
